@use "../mixins" as *;

.container {
  position: absolute;
  top: -80px;
  left: 100px;
  display: flex;
  z-index: 2;
  white-space: nowrap;

  @include for-phone-only {
    top: -90px;
    left: 60px;
    white-space: wrap;
  }
}

.label {
  color: #fff;
  font-family: "Preahvihear", sans-serif;
  font-size: 19px;
  letter-spacing: -0.5px;
  margin-top: 25px;
  text-align: center;
  line-height: 25px;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  animation: floatLabel 10s ease-in-out infinite;

  @include for-phone-only {
    margin-top: 15px;
  }
}

.img {
  animation: floatArrow 8s ease-in-out infinite;
}

.jobLabel {
  color: #9857d3;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
}

.entering {
  animation: jobEnter 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.leaving {
  animation: jobLeave 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes floatLabel {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(8px, -4px);
  }
  50% {
    transform: translate(0, -8px);
  }
  75% {
    transform: translate(-8px, -4px);
  }
}

@keyframes floatArrow {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(5px, -2px);
  }
  50% {
    transform: translate(0, -5px);
  }
  75% {
    transform: translate(-5px, -2px);
  }
}

@keyframes jobEnter {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes jobLeave {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
