body{
    margin-left: 15%;
    margin-right: 15%;
}

.montserrat-font{
    font-family: 'Montserrat', sans-serif;
}

.center{
    text-align: center;
}

.title{
    margin-left: 15px;
    padding: 0.75rem 0 0.75rem 2rem;
    border-left: 3px solid #387936;
}

.subtitle{
    padding: 0.25rem 0 0.25rem 1rem;
    border-left: 3px solid #387936;
}

.spacer {
    margin-top: 7%;
    margin-bottom: 7%;
}

.section{
    margin-left: 50px;
    margin-top: 30px;
}

.fix{
    position: fixed;
}