@mixin for-phone-only {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin for-tablet-only {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1025px) {
    @content;
  }
}

@mixin for-small-desktop-only {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin for-extra-large-desktop-up {
  @media (min-width: 1440px) {
    @content;
  }
}
